<div class="form-group row justify-content-between " style="margin-top: 1rem;margin-bottom: 2rem;">
    <a style="margin-left: 1.5rem" href="/conference/<%=confer_id%>/uploadcontribution">
        <button type="button" class="btn btn-outline-info" id="btn_contribute">投稿</button>
    </a>
    <div class="btn-group" role="group" style="margin-right: 1rem">
        <button type="button" class="btn btn-outline-info" id="btn_authorreg">作者参会</button>
        <button type="button" class="btn btn-outline-info" id="btn_listenreg">聆听参会</button>
    </div>
</div>

<script>
    var btn_con = document.getElementById('btn_contribute');
    var btn_au = document.getElementById('btn_authorreg');
    var btn_lis = document.getElementById('btn_listenreg');

</script>