<form method="post">
    <input name="username" title="用户名" id="2">
    <input name="password" title="密码" id="3">
    <button type="button" id="1">提交</button>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io.connect();
  document.getElementById("1").onclick = () => {
    socket.emit('user:login', {
      username: document.getElementById("2").value,
      password: document.getElementById("3").value
    });
    console.log({
      username: document.getElementById("2").value,
      password: document.getElementById("3").value
    });
  }
  socket.on('user:login', (res) => {
    console.log(res);
    if (res){
      alert("成功");
      document.location.href = '/';
    }
    else {
      alert("失败");
    }
  })
</script>