
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <title>会议管理</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/sidebar.css">

    <!--Font Awesonme图标库-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<!--mr margin-right -->
<body>
<div class="container-fluid" > <!--主体容器-->
    <div class="row flex-lg-nowrap"> <!--防溢出-->
        <div class="bg-primary sidebar-div sticky-top" style="width: 240px;" >  <!--侧边导航栏-->
            <% if (usertype === 'undefined'){ %>
            <%- include("unlogsidebar.ejs")%>
            <% }%>
            <% if (usertype === 'unit'){ %>
            <%- include("orgsidebar.ejs",{username: username, usertype:usertype})%>
            <% }%>
            <% if (usertype === 'person'){ %>
            <%- include("personsidebar.ejs",{username: username, usertype:usertype})%>
            <% }%>
        </div><!--侧边导航栏-->

        <div class="bg-light col">  <!--网页主体-->
            <!--头部导航栏-->
            <%- include("headnavbar.ejs", {page_title:"我的会议"})%>
            <!--头部导航栏-->
            <div class="container-fluid">
                <div class="form-row bg-white" style="margin-top:3rem;border: 2px solid #e9eef2">
                    <div class="col">
                        <table class="table table-borderless" style="margin-bottom: -0.1rem;">
                            <thead>
                            <tr class="">
                                <th scope="col">#</th>
                                <th scope="col">会议标题</th>
                                <th scope="col">会议日期</th>
                                <th scope="col">投稿截止时间</th>
                                <th scope="col">录用通知时间</th>
                                <th scope="col">管理</th>
                            </tr>
                            </thead>
                            <tbody class="">
                            <tr class="align-items-center" style="border-top: 1px solid #e9eef2;">
                                <th scope="row" style="vertical-align: middle">1</th>
                                <td style="vertical-align: middle">会议标题1</td>
                                <td style="vertical-align: middle">会议日期1</td>
                                <td style="vertical-align: middle">投稿截止时间1</td>
                                <td style="vertical-align: middle">录用通知时间1</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-info dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            管理
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="">更新信息</a>
                                            <a class="dropdown-item" href="">投稿情况</a>
                                            <a class="dropdown-item" href="">评审录入</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr style="border-top: 1px solid #e9eef2">
                                <th scope="row" style="vertical-align: middle">2</th>
                                <td style="vertical-align: middle">会议标题2</td>
                                <td style="vertical-align: middle">会议日期2</td>
                                <td style="vertical-align: middle">投稿截止时间2</td>
                                <td style="vertical-align: middle">录取通知时间2</td>
                                <td>
                                    <div class="dropdown">
                                        <button class="btn btn-outline-info dropdown-toggle" type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            管理
                                        </button>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="">更新信息</a>
                                            <a class="dropdown-item" href="">投稿情况</a>
                                            <a class="dropdown-item" href="">评审录入</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
        </div>

        </div>
    </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="https://cdn.staticfile.org/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
<script src="/socket.io/socket.io.js"></script> <!-- this script is provided by socket.io at runtime -->
</body>
</html>
