
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>会议发布</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/page/sidebar.css">

    <!--Font Awesonme图标库-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
</head>
<!--mr margin-right -->
<body>

<div class="container-fluid" > <!--主体容器-->
    <div class="row flex-lg-nowrap"> <!--防溢出-->
        <div class="bg-primary sidebar-div sticky-top" style="width: 240px;" >  <!--侧边导航栏-->
            <div class="container-fluid navbar-dark bg-dark side-main-contain"><!--侧边导航栏容器-->
                <div class="row side-nav-header "> <!--头部商标等-->
                    <a class="navbar-brand " href="#">
                        <i class="fas fa-user-check fa-3x"></i>
                    </a>

                    <!--三明治导航栏-->
                    <!--
                    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"   data-target="#sidebar-collapse">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    -->

                </div> <!--头部商标end-->

                <div class="row navbar-dark bg-dark"> <!--侧面导航栏主体-->
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link side-nav-link active" href="#"><i class="fas fa-address-card"></i> 法人信息</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link side-nav-link active" href="#"><i class="far fa-edit"></i> 会议管理</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link side-nav-link active" href="#"><i class="fas fa-external-link-alt"></i> 发布会议</a>
                        </li>
                    </ul>
                </div><!--侧面导航栏主体-->
            </div>
        </div><!--侧边导航栏-->


        <div class="bg-light col">  <!--网页主体-->

            <!--头部导航栏-->
            <div class="navbar navbar-light main-navbar" style="background-color: #e3f2fd">
                <a class="navbar-brand" href="#">会议发布</a>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search.." aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
            <!--头部导航栏-->


            <div class="bg-light col">  <!--网页主体-->
                <div class="container">
                    <div class="row bg-white" style="margin-top: 2rem;margin-bottom: 1rem; border: 2px solid #e9eef2">
                        <div class="col">
                            <form id="form">
                                <label for="Meeting Title" style="font-size: 1.2rem;margin-top:0.5rem">会议标题</label>
                                <div class="form-row">

                                    <div class="col-md-3">
                                        <input class="form-control" id="meettitle" placeholder="请输入会议标题..">
                                    </div>
                                </div>

                                <label for="Host" style="font-size: 1.2rem;margin-top:0.5rem">主办机构</label>
                                <div class="form-row">

                                    <div class="col-md-3">
                                        <input class="form-control" id="org" placeholder="请输入主办机构..">
                                    </div>
                                </div>

                                <label for="Place" style="font-size: 1.2rem; margin-top: 1rem">主办地点</label>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <input type="text" class="form-control" id="province" placeholder="省..">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" id="city" placeholder="市..">
                                    </div>
                                    <div class="form-group col-md-3">
                                        <input type="text" class="form-control" id="district" placeholder="区..">
                                    </div>
                                </div>

                                <label for="Date Range" style="font-size: 1.2rem;">起止日期</label>
                                <div class="form-row">

                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="年.." id="startyear">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="月.." id="startmonth">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="日.." id="startday">
                                    </div>
                                    <label style="font-size: 1rem; margin-left: 1rem; margin-right: 1rem;">至</label>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="年.." id="endyear">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="月.." id="endmonth">
                                    </div>
                                    <div class="col">
                                        <input type="text" class="form-control" placeholder="日.." id="endday">
                                    </div>


                                </div>

                                <div class="form-group" style="margin-top: 1rem;">
                                    <label for="meetdes" style="font-size: 1.2rem;">会议简介</label>
                                    <textarea class="form-control" id="meetdes" rows="7"></textarea>
                                </div>

                                <div class="form-group" style="margin-top: 1rem;">
                                    <label for="paperdes" style="font-size: 1.2rem;">征文要求</label>
                                    <textarea class="form-control" id="paperdes" rows="7"></textarea>
                                </div>

                                <button type="button" class="btn btn-primary" id="button" style="margin-bottom: 1rem;">发布</button>


                            </form>
                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>
</div>





<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
<script src="/socket.io/socket.io.js"></script> <!-- this script is provided by socket.io at runtime -->
<script>
  const socket = io.connect();
  function $$(id) { return document.getElementById(id); }
  $$('button').onclick = () => {
    let data = {
      title: $$('meettitle').value,
      org: $$('org').value,
      location: $$('province').value + ' ' + $$('city').value + ' ' + $$('district').value,
      start: $$('startyear').value + "年" + $$('startmonth').value + "月" + $$('startday').value + "日",
      end: $$('endyear').value  + "年" +$$('endmonth').value + "月"+$$('endday').value+ "日",
      description: $$('meetdes').value,
      paper_info: $$('paperdes').value
    };
    socket.emit('user:add_conference', data);
  }
  socket.on('user:add_conference', (res) => {
    if (res){
      alert("发布成功");
      window.location.href = '/meetinfo';
    }
    else {
      alert("发布失败");
    }
  });
</script>

</body>
</html>
