<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signup</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signup.css" rel="stylesheet">
</head>

<body class="text-center">
    <div class="container" id="register">
        <form class="form" role="form" id="applyform">
            <h1 class="h3 mb-3 font-weight-normal">注册</h1>
            <div class="form-row">
                <label class="col-sm-3 control-label text-right">用户名(邮箱)</label>
                <div class="col-sm-6">
                    <input id="username" class="form-control" type="email" placeholder="例如:123@123.com" required oninput="setCustomValidity('');">
                </div>
            </div>
            <div class="form-row">
                <label class="col-sm-3 control-label text-right">所属机构</label>
                <div class="col-sm-6">
                    <input id="institution" class="form-control" type="text" placeholder="输入机构名称" required >
                </div>
            </div>
            <div class="form-row">
                <label class="col-sm-3 control-label text-right">密码</label>
                <div class="col-sm-6">
                    <input id="password" class="form-control" type="password" placeholder="至少6位字母或数字" required oninput="setCustomValidity('');">
                </div>
            </div>
            <div class="form-row">
                <label class="col-sm-3 control-label text-right">再次输入密码</label>
                <div class="col-sm-6">
                    <input id="password_again" class="form-control" type="password" placeholder="至少6位字母或数字" required oninput="setCustomValidity('');">
                </div>
            </div>
            <div class="text-center" style="margin-top: 1rem;margin-bottom: 1rem">
                <button class="btn btn-primary col-sm-6" type="submit" onclick="check()">创建用户</button>
            </div>
            <a href="signin">已有账号？点我登录</a>
            <p class="mt-5 mb-3 text-muted">&copy; 2018-2019</p>
        </form>
    </div>
</body>
<script src="httlaceholdes.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.dev.js"></script>
<script src="/socket.io/socket.io.js"></script> <!-- this script is provided by socket.io at runtime -->
<script src="/js/signup.js"></script>
</html>