<!--这是未登录用户的侧面导航栏模板-->
<div class="container-fluid navbar-dark bg-dark side-main-contain"><!--侧边导航栏容器-->
    <div class="row side-nav-header "> <!--头部商标等-->
        <a class="navbar-brand " href="#">
            <i class="fas fa-user fa-3x"></i>
        </a>

        <!--三明治导航栏-->
        <!--
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"   data-target="#sidebar-collapse">
          <span class="navbar-toggler-icon"></span>
        </button>
        -->

    </div> <!--头部商标end-->

    <div class="row" style="margin-top:-0.5rem;margin-bottom:-1rem">
        <div class="col">
            <p class="text-center" style="color:#ffffff; font-size:0.8rem; margin-top: -0.8rem;">登录可使用更多功能哦~</p>
        </div>
    </div>

    <div class="hbb"></div>

    <div class="row navbar-dark bg-dark"> <!--侧面导航栏主体-->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link side-nav-link active" href="/meetinfo"><i class="fas fa-list-ul"></i> 会议概览</a>
            </li>
            <li class="nav-item">
                <a class="nav-link side-nav-link active" href="/signin"><i class="fas fa-sign-in-alt"></i> 登录/注册</a>
            </li>
        </ul>
    </div><!--侧面导航栏主体-->
</div>